.Main__Header {
    background-color: white;
    height: 100px;
    padding: 33px 0;
    align-items: center;
    border: 0.5px solid rgb(207, 204, 204);
}

.Main {
    width: 100%;

}

.ClassForCards {
    display: flex;
    flex-direction: row;
    width: 100%;
}