.DisplayFlex {
    display: flex;
    align-items: center;
}

.Timetable__Header {
    margin: 20px 0;
    justify-content: space-between;
}


.IconAndInput {
    padding: 8px 16px;
    border: 1px solid rgb(197, 196, 196);
    border-radius: 3px;
    margin-left: 10px;
}

.IconAndInput>input {
    border: none;
}

.IconAndInput>input:focus {
    outline: none;
}

.TimeTable__Button {
    padding: 8px 16px;
    width: 60px;
    background-color: rgb(224, 221, 221);
    border: none;
    border-right: 0.5px solid rgb(160, 159, 159);
}

.TimeTable__Button__div {
    overflow: hidden;
    border-radius: 5px;
    width: 40%;
    justify-content: space-between;
}

.Select__Button {
    padding: 5px 16px;
    width: 80px;
    background-color: white;
    border: none;
    border: 0.5px solid rgb(160, 159, 159);
}

table {
    width: 100%;
}


th,
td {
    width: 10%;
    text-align: center;
}

td>img {
    width: 50px;
    height: 50px;
}