.Main {
    width: 100%;

}

.Boxes {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 97%;
    justify-content: space-between;
}

.Buutons__Group {
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

.Buutons__Group>button {
    border: none;
    background-color: transparent;
    padding: 8px;
    margin-right: 15px;
    border-radius: 5px;
}



.active__button {
    border: 1px solid none !important;
    background-color: rgb(69, 69, 252) !important;
    color: white;
    border: 1px solid rgb(69, 69, 252);
}

.Buutons__Group>button:hover {
    border: none;
    color: rgb(69, 69, 252);
    background-color: white !important;
    border: 1px solid rgb(69, 69, 252);
}