.AsideNavigationItems {
    display: flex;
    flex-direction: column;
    background-color: #545051;
    width: 270px;
    height: 100vh;
    align-items: center;
}

.Links {
    color: white;
    text-decoration: none;
}