.Header {
    background-color: #545051;
    color: #F8F9FC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.Project__Name {
    width: 325px;

}

.Header__Body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}