.Card {
    width: 97%;
    background-color: white;
    margin: 15px 20px;
    border: 0.5px solid rgb(212, 211, 211);
    box-shadow: 2px 2px 2px 2xp grey;
}

.Card_Body {
    margin: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 0 16px;
}

.Administrators {
    background-color: #29b6f6;
}

.Teachers {
    background-color: #5c6bc0;
}

.Students {
    background-color: #ef5350;
}

.Parents {
    background-color: #66bb6a;
}